{% extends 'base.html' %}
{% block content %}
<div class="columns has-background-info-light">
    <div class="column is-one-fifth">
        <section id="scores" class="section has-background-info">
            <h2 class="is-size-3 has-text-info-dark">High Scores</h2>
            <ol>
                <li>
                    Kiki: 1,095
                </li>
                <li>
                    Thomas: 822
                </li>
                <li>
                    Brian: 785
                </li>
                <li>
                    Sarah: 620
                </li>
                <li>
                    Jackson: 604
                </li>
            </ol>
        </section>
    </div>
    <div class="column">
        <main class="section">
            <h1 class="is-size-1 has-text-weight-bold has-text-primary">Learn through play!</h1>
            <div class="has-text-info-dark">
              <p>
              EduQuest will help you learn through playing games, it's a win for teachers and learners. Students that have trouble engaging with traditional content will find themselves immersed in learning, and having fun!
              </p>
              <p>Games are designed for delight, and the content is provided by registered teachers and educators. It's a win/win situation.</p>
            </div>
        </main>
    </div>
    <div class="column">
        <section class="section">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <button class="tile is-child button is-large is-primary has-text-weight-bold">
                                New Game
                            </button>
                            <button class="tile is-child button is-info has-text-weight-bold">
                                Create Content
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
