[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
django = "*"
environs = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-cms = "*"
djangocms-admin-style = "*"
django-sekizai = "*"
docutils = "*"
django-filer = "*"
djangocms-text-ckeditor = "*"
djangocms-link = "*"
djangocms-file = "*"
djangocms-picture = "*"
djangocms-video = "*"
djangocms-style = "*"

[dev-packages]

[requires]
python_version = "3.8"
