{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="is-size-1-desktop is-title has-text-centered">{{ page.title }}</h1>

        <div class="has-text-centered">{{ page.body|richtext }}</div>

        {% for post in blogpages %}
            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            {{ post.specific.intro }}
        {% endfor %}
    </div>
{% endblock %}
